<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User</title>
<style>
header{
    margin-left: 90%;
}
</style>
</head>
<body>
    <header><a href="/quotes">Dashboard</a> | <a href="/logout">Logout</a></header>
    <h2>Posts by:{{user.name}}</h2>
    {% for quote in quotes %}
    <p>{{quote.quote_owner}}: {{quote.message}}</p>
    {% endfor %}
</body>
</html>